<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <h1>Welcome to the Election Results Application</h1>
    </header>
    <nav>
        <ul>
            <li><a href="./polling-unit-results">View Polling Unit Results</a></li>
            <li><a href="./lga-results">View LGA Results</a></li>
            <li><a href="./add_polling_unit_results">Add Polling Unit</a></li>
        </ul>
    </nav>
    <footer>Full name: Ige David Kolawole Email: igedavid01@gmail.com</footer>
</body>
</html>
